@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:  sans-serif;
}

main {
    max-width: 1440px;
    min-width: 1040px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo {
    width: 600px;
    height: 400px;
    display: flex;
    overflow: hidden;
    box-shadow: 10px 10px 15px  rgba(0, 0, 0, 0.062);
    border-radius: 25px;
}

.filho1 {
    width: 300px;
    height: 400px;
    background-image: linear-gradient(to bottom, hsl(252, 100%, 67%),hsl(241, 81%, 54%)) ;
    border-radius: 25px;
    padding: 45px 10px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40px 120px 40px 60px;
    row-gap: 15px;
    align-items: center;
}
.filho1 > div {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-image: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    color: #ffffff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}
.filho1 > div > h1 {
    font-size: 3em;
    font-weight: 700;
}
.filho1 > div > p {
    color: rgba(255, 255, 255, 0.679);
    font-size: 10pt;
}

.filho1 > h2 {
    margin: 0px auto;
    color: rgba(255, 255, 255, 0.814);
    font-size: 1.2em;
    font-weight: 200;
}
.filho1 > h3 {
    margin: 0px auto;
    font-size: 1.8em;
    color: white;
    font-weight: 600;
}
.filho1 > p {
    margin: 0px auto;
    color: rgba(255, 255, 255, 0.607);
    width: 270px;
    text-align: center;
}


.filho2{
    width: 300px;
    height: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
}
.filho2 > div {
    width: 100%;
    height: 50px;
    background-color: #c8c8c836;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.filho2 > div > p {
    margin-right: 75px;
}
.filho2 > div > h3 {
    color: rgba(150, 150, 150, 0.748);
    font-size: 0.9em;
}
.filho2 > div > h3 > strong {
    color: black;
}
.filho2 > h1 {
    align-self: flex-start;
    font-weight: 600;
    color: rgba(0, 2, 14, 0.829);
}
.filho2 > input {
    width: 82%;
    height: 40px;
    border-radius: 25px;
    border: none;
    background-color: rgb(57, 57, 96);
    color: #fff;
}
input:hover{
    background-color: rgb(96, 96, 154);
    cursor: pointer;
    transition: 300ms;
}


@media screen and (max-width:440px) and (min-width:300px){
    body {
        width: 100vw;
        height: 100%;
        display: inline-block;
    }
    main {
        max-width: 440px;
        min-width: 300px;
        height: 1000px;
        display: inline-block;
        overflow: none;
    }
    .conteudo {
        max-width: 440px;
        min-width: 300px;
        height: 800px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
        overflow: visible;
    }
    .filho1 {
        width: 99%;
        height: 350px;
        padding: 0px 10px;
        margin: 0px 0px;
        border-radius: 25px;
    }
    .filho2{
        width:99%;
        height: 400px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center; 
    }
}